*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.light{
  background-color: rgb(106, 0, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:black;
}

.dark{
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;

}
.nav2{
  display: flex;
  gap: 20px;
}