.btn{
    background-color: green;
    border: none;
}

.box{
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px;
}